# Rust specific
target/
**/*.rs.bk

# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test output
*.log

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
*.swn
*.bak

# OS-specific files
.DS_Store
Thumbs.db
